/* resert */

/* estilos de index home*/
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

header{
    background-color: hsl(300, 4%, 5%);
    display:grid;
}

.div{
    background-color: rgb(137, 131, 143);
    margin: 15px;
    border-radius: 15px;
    width:  auto;
    height: auto;
    object-fit: cover;
    display: grid;
}

.texto__párrafo{
    background-color: aliceblue;
    font-style: italic;
    line-height: normal;
    width: fit-content;
    height: fit-content;
    overflow: scroll;
  text-align: center;
}

div.cuerpo__video{
    width:  320%; 
    height: 75%;
}

h1{
    text-align: center;
    color: azure;
}

header nav ul{
    list-style: none;
    text-align: center;
    margin-top:20px;
}
header nav ul li{
    display: inline-block;
    margin-left:20px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(236, 227, 227);
}

/*estilo de main del home*/

    body{
         background-color: rgb(119, 114, 114);

}

main p{
    text-transform: arial;
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;  
    font-style:normal;
    font-size:x-large; 
}
h4{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;  
    font-style:normal;
    font-size:x-large;
}
h5{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    font-style: italic;

}

    
main div div{
    display:inline-flex;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom:60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 40% 20%;
}

.card-body{
    justify-content: center;
}

/*estilo de footer del home*/

footer{
    text-align: right;
    background-size:contain;
    max-width: 100%;
}
h6{
    font-style: italic;
    line-height: normal 
}

/* estilos de herramientas */
div.herramientas{
    display:inline-flex;
}
div.diseño{
    display:inline-flex;
}
/* estilos de banco plani*/
.carpeta{
    display:inline-flex;
}
.imagenes{
    display:inline-flex;
}
/* estilos de main de contacto */

.form{
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* mq de table*/
@media screen  and (max-width:600px) {
    main{
        grid-template-columns:repeat(2, 2fr) ;
        grid-template-rows:auto ;
    }
    .cuerpo__video {width: 70%; height: 50% ;}
    .div_row{width: 50%; height: 50%;}
}

  
  /* mq de celular*/
@media screen  and (max-width:480px) {
    main {
    grid-template-columns:repeat(2,  2fr) ;
    grid-template-rows:auto;
}
}




