* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import  "variables/vars" ;


/*estilos de index*/ 
header{
    background-color: hsl(300, 6%, 75%);
    
    nav { 
         ul{
        list-style: none;
        text-align: center;
        margin-top:20px;
        li{
            display: inline-block;
            margin-left:20px;} 
            a{
                text-decoration: none;
                color: rgb(236, 227, 227);
         }  }
         }
    }




